h1 {
  font-family: "Freehand", cursive;
  font-size: 5rem;
  color: #171717;
}

h2{
    font-family: "Freehand", cursive;
    font-size: 3rem;
    color: #171717;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image img {
  width: 100%;
  height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    height: 10px;
    font-family: "Freehand", cursive;

}

.item {
    flex: 1;
    background: rgb(249,253,169);
    background: radial-gradient(circle, rgba(249,253,169,1) 0%, rgba(252,76,70,1) 100%);
    font-size: 1.5rem;
}


body {
  background: rgb(219, 0, 91);
  background: linear-gradient(
    90deg,
    rgba(219, 0, 91, 1) 0%,
    rgba(247, 147, 39, 1) 35%,
    rgba(241, 237, 237, 1) 100%
  );
}

* {
  text-align: center;
}
