#heading{
  color: rebeccapurple;
  font-size: 10rem;
  font-weight:100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hash{
  color:#F31559;
  font-size: 10em;
  font-family: 'Noto Sans KR', sans-serif;
}

#RGB{
  color: rgb(218, 169, 10);
}